Ejercicios

1 Ejercicio

Dada la lista L = [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], escribe expresiones en Python que produzcan los siguientes resultados:
El primer elemento de la lista.
El último elemento de la lista (Sin conocer la longitud de la lista).
La sublista con los dos últimos elementos. (Sol: [8, 9])
La sublista de los elementos que ocupan posiciones pares. (Sol: [1, 3, 5, 7, 9])
La sublista de los elementos que ocupan posiciones impares. (Sol: [2, 4, 6, 8])

In [1]:
L=[1,2,3,4,5,6,7,8,9]

In [2]:
print(L[0])

1

In [3]:
print(L[-1])

9

In [4]:
L[-2:]

[8, 9]

In [5]:
print( L[::2] )

[1, 3, 5, 7, 9]

In [6]:
print( L[1::2] )

[2, 4, 6, 8]

2 Ejercicio

Dada una lista de enteros a y un número entero n, define:
una función llamada contar que calcule el número de veces que se repite n en a.
una función llamada porcentaje que calcule el porcentaje de veces que se repite n en a.
Nota: utiliza los métodos len y count.
Puedes ejecutar list.count? para obtener ayuda del método count.
Puedes ejecutar help(list.count) para obtener ayuda del método count.

In [7]:
help(list.count)

Help on method_descriptor:

count(...)
    L.count(value) -> integer -- return number of occurrences of value

In [8]:
def contar (a,n):
    veces=a.count(n)
    return veces

In [9]:
def contar_porcentaje (a,n):
    porcentaje=((a.count(n))/(len(a)))*100
    return porcentaje

Prueba las funciones con los argumentos a = m y n = 4.

In [10]:
m = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 2, 4, 6, 8, 1, 4]

In [11]:
contar(m,4)

3

In [12]:
contar_porcentaje(m,4)

18.75

3 Ejercicio

La función upper del tipo string genera una nueva cadena de caracteres, donde todos los caracteres son mayúsculas. Dada la siguiente cadena:

In [13]:
s = 'Hola, me llamo Iñigo Montoya, tú mataste a mi padre. ... Prepárate a morir'
s.upper()

'HOLA, ME LLAMO IÑIGO MONTOYA, TÚ MATASTE A MI PADRE. ... PREPÁRATE A MORIR'

Genera una cadena __t__ igual que __s__ pero en mayúsculas. Calcula la longitud de t.

In [14]:
t='HOLA, ME LLAMO IÑIGO MONTOYA, TÚ MATASTE A MI PADRE. ... PREPÁRATE A MORIR'

In [15]:
len(t)

74

Ejecuta la función  __split(',')__. Fíjate en lo que devuelve esa función.

In [16]:
s.split(',')

['Hola',
 ' me llamo Iñigo Montoya',
 ' tú mataste a mi padre. ... Prepárate a morir']

Ejecuta la función __lower()__

In [17]:
s.lower()

'hola, me llamo iñigo montoya, tú mataste a mi padre. ... prepárate a morir'

Ejecuta la función  __title()__.

In [18]:
s.title()

'Hola, Me Llamo Iñigo Montoya, Tú Mataste A Mi Padre. ... Prepárate A Morir'

Ejecuta __dir(str)__ para listar las funciones disponibles para trabajar con cadenas.

In [19]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

4 Ejercicio

Dada la lista de las ciudades más pobladas de Italia it:
it = [ 'Roma', 'Milán', 'Nápoles', 'Turín', 'Palermo' , 'Génova', 'Bolonia', 'Florencia', 'Bari', 'Catania']
Crea un diccionario donde la clave sea la posición que ocupa cada ciudad en la lista. Para hacerlo sigue estas indicaciones:
Crea una secuencia de enteros mediante la función range. El inicio de la secuencia es el cero y el fin de la secuencia es la longitud de la lista de poblaciones de Italia.
Crea una lista m de tuplas del tipo (pos, ciudad). Utiliza la función zip.
Utiliza la función dict para construir el diccionario a partir de la lista m.

In [20]:
ciudad=['Roma','Milán','Nápoles','Turín','Palermo','Génova','Bolonia','Florencia','Bari','Catania']

In [21]:
range(10)

range(0, 10)

In [22]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
range(0,10)

range(0, 10)

In [24]:
pos=list(range(10))

In [25]:
pos

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
m = zip(pos, ciudad)
c1, c2 = zip(*m)
c1, c2

((0, 1, 2, 3, 4, 5, 6, 7, 8, 9),
 ('Roma',
  'Milán',
  'Nápoles',
  'Turín',
  'Palermo',
  'Génova',
  'Bolonia',
  'Florencia',
  'Bari',
  'Catania'))

In [27]:
dict(zip(pos,ciudad))

{0: 'Roma',
 1: 'Milán',
 2: 'Nápoles',
 3: 'Turín',
 4: 'Palermo',
 5: 'Génova',
 6: 'Bolonia',
 7: 'Florencia',
 8: 'Bari',
 9: 'Catania'}

#### 5 Ejercicio

La función __convertirF2C__ convierte grados Fahrenheit en grados centígrados.

In [28]:
# Ejecuta esta celda
def convertirF2C(f):
    return  ( f - 32 ) * 5 / 9

* Utiliza la función __convertirF2C__ para generar la siguiente tabla de conversión:

```
0:º F = -17.8º C
10:º F = -12.2º C
20:º F = -6.7º C
    ...
100:º F = 37.8º C
110:º F = 43.3º C
120:º F = 48.9º C
```

__Nota__:
* Genera la lista de valores [0, ... , 120] con la función __range__.
* Utiliza un bucle __for__ para calcular los grados centígrados de cada elemento de la lista de valores.
* Utiliza los operadores de formato `%d` y `%.1f` para escribir los resultados.

In [29]:
rango=range(0,130,10)

In [30]:
lista=list(range(0,130,10))

In [31]:
lista

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120]

In [32]:

for f in lista:
    print(convertirF2C(f))

-17.77777777777778
-12.222222222222221
-6.666666666666667
-1.1111111111111112
4.444444444444445
10.0
15.555555555555555
21.11111111111111
26.666666666666668
32.22222222222222
37.77777777777778
43.333333333333336
48.888888888888886

In [33]:
conversiongrados = "%d grados Fahrenheit son %.1f grados centígrados"
conversiongrados % (0,-17.77777777777778)

'0 grados Fahrenheit son -17.8 grados centígrados'

#### 6 Ejercicio

Los 15 primeros números triangulares son:

```
[0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105]
```

Define una función __triang_1__ que reciba un número entero positivo $n$ como argumento y genere la lista de los `n` primeros números triangulares. Resuelve el problema aplicando la fórmula a_n = n * (n + 1) / 2. __Utiliza listas por comprensión__.

__Nota:__

* Genera primero los n primeros números comenzando por el 0 y utilizando la función __range__.

In [34]:
def lista(n):
    return list(range(0,n))

In [35]:
def triang_1(n):
    funcion=[n*(n+1)/2 for n in lista(n)]
    return funcion

In [36]:
triang_1(15)

[0.0,
 1.0,
 3.0,
 6.0,
 10.0,
 15.0,
 21.0,
 28.0,
 36.0,
 45.0,
 55.0,
 66.0,
 78.0,
 91.0,
 105.0]

7 Ejercicio


Dado el diccionario de las ciudades más pobladas de Italia ciudades:
d = { 1: 'Roma', 2: 'Milán', 3:'Nápoles', 4:'Turín', 5:'Palermo' ,6: 'Génova', 7:'Bolonia', 8:'Florencia', 9:'Bari', 10:'Catania'}
y la lista pob que contiene información de la cantidad de población en cada ciudad:
pob = [2718768, 1299633, 973132, 908263, 663173, 610887, 372256, 364710, 322511, 298957]
crea un nuevo diccionario donde cada elemento sea de la forma
i: [ciudad,poblacion]
Nota: Utiliza listas por comprensión. La función enumerate también te puede ayudar.

In [37]:
pob = [2718768, 1299633, 973132, 908263, 663173, 610887, 372256, 364710, 
       322511, 298957]
d = { 1: 'Roma', 2: 'Milán', 3:'Nápoles', 4:'Turín', 5:'Palermo' ,
     6: 'Génova',   \
      7:'Bolonia', 8:'Florencia', 9:'Bari', 10:'Catania'}

In [38]:
d2=list(d.values())

In [39]:
d2

['Roma',
 'Milán',
 'Nápoles',
 'Turín',
 'Palermo',
 'Génova',
 'Bolonia',
 'Florencia',
 'Bari',
 'Catania']

In [40]:
d3=zip(d2,pob)

In [41]:
d4={f+1: a for f, a in enumerate(d3)}

In [42]:
d4

{1: ('Roma', 2718768),
 2: ('Milán', 1299633),
 3: ('Nápoles', 973132),
 4: ('Turín', 908263),
 5: ('Palermo', 663173),
 6: ('Génova', 610887),
 7: ('Bolonia', 372256),
 8: ('Florencia', 364710),
 9: ('Bari', 322511),
 10: ('Catania', 298957)}